<div class="main-page">
  <div class="left-box">
    <H1>ASTRID</H1>
    <H1>CHAZAUX</H1>
    <H2>Full-Stack Developer</H2>
  </div>
  <div class="right-box">
    <div class="navbar">
      <ul class="hoverable">
        <li> <%= link_to "MY WORK", root_path %> </li>
        <li>|</li>
        <li> <%= link_to "ABOUT ME", about_path %> </li>
      </ul>
    </div>
    <div class="project-container intro">
      <%= image_tag "IMG_1185.JPG", alt: "Astrid Chazaux's photo", class:"astrid-photo" %>
      <div class="astrid-intro">
        <p>I'm from France and currently based in Berlin. I have worked in various start-ups in Paris and Berlin (Too Good To Go, Foodora), occupying different positions in Sales and Success. Working closely with the Tech team made me want to learn more, so I decided to attend <b>the Wagon bootcamp</b>. Now I have a great interest in code and want to deepen my knowledge by practicing!</p>
      </div>
    </div>
    <div class="project-container">
      <H1>SKILLS</H1>
      <p>Apart from coding, I have strong experience in processes automation and optimization, using (a lot) Excel and Zapier for example. I worked for years as Account Manager, and also have sales skills. My greatest strength is that I communicate a lot. This makes it easy to resolve conflicts when they arise, but also to have fun while working! I'm a good problem solver.</p>
    </div>
    <div class="project-container">
      <H1>LANGUAGES</H1>
      <p>I’m currently working to improve my skills on Ruby, Ruby on Rails, HTML, CSS and JavaScript - but I'm also learning German and Portuguese! I would love to work for projects with social and/or environmental impact.</p>
    </div>
    <div class="project-container">
      <H1>MORE ABOUT ME</H1>
      <p>... I love to learn new stuff in general. I think I can be defined as a hedonist, I like to spend time in the nature as much as I like to spend time in bars with friends. I listen to a lot of music (here is my Soundcloud) and I do sports like yoga, contemporary dance, hiking. I travel quite a bit.</p>
      <p>CV</p>
    </div>
  </div>
</div>
