<div class="main-page">
  <div class="left-box">
    <H1>ASTRID</H1>
    <H1>CHAZAUX</H1>
    <H2>Full-Stack Developer</H2>
  </div>
  <div class="right-box">
    <div class="navbar">
      <ul class="hoverable">
        <li> <%= link_to "MY WORK", root_path %> </li>
        <li>|</li>
        <li> <%= link_to "ABOUT ME", about_path %> </li>
      </ul>
    </div>
    <div class="aboutme-container intro">
      <%= image_tag "IMG_1185.JPG", alt: "Astrid Chazaux's photo", class:"intro-photo" %>
      <div class="intro-text">
        <p>I'm from France and currently based in Berlin. I have worked in various start-ups in Paris and Berlin (Too Good To Go, Foodora), occupying different positions in Sales and Success. Working closely with the Tech team made me want to learn more, so I decided to attend <b>the Wagon bootcamp</b>. Now I have a great interest in code and want to deepen my knowledge by practicing!</p>
        <p>I would love to work for projects with social and/or environmental impact.</p>
      </div>
    </div>
    <div class="aboutme-container project-container">
      <div class="aboutme-header">
        <H1>SKILLS</H1>
      </div>
      <p>Apart from coding, I have strong experience in <b>processes automation and optimization</b>, using (a lot) Excel and Zapier for example. I worked for years as Account Manager, and also have sales skills.</p>
      <p>My greatest strength is that <b>I communicate a lot</b>. This makes it easy to resolve conflicts when they arise, but also to have fun while working! I'm a good <b>problem solver</b>.</p>
    </div>
    <div class="aboutme-container project-container">
      <div class="aboutme-header">
        <H1>LANGUAGES AND TOOLS</H1>
      </div>
      <div id="scroll-container">
        <div id="scroll-text">
          <p>
            <a href="https://getbootstrap.com" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="40" height="40"/> </a>
            <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="40"/> </a>
            <a href="https://www.figma.com/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg" alt="figma" width="40" height="40"/></a>
            <a href="https://heroku.com" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/heroku/heroku-icon.svg" alt="heroku" width="40" height="40"/> </a>
            <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="40" height="40"/> </a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40"/> </a>
            <a href="https://www.postgresql.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="40" height="40"/> </a>
            <a href="https://rubyonrails.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg" alt="rails" width="40" height="40"/> </a>
            <a href="https://reactjs.org/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="40" height="40"/> </a>
            <a href="https://www.ruby-lang.org/en/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg" alt="ruby" width="40" height="40"/> </a>
            <a href="https://zapier.com" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/zapier/zapier-icon.svg" alt="zapier" width="40" height="40"/> </a>
          </p>
        </div>
      </div>
    </div>
    <div class="aboutme-container project-container">
      <div class="aboutme-header">
        <H1>MORE ABOUT ME...</H1>
      </div>
      <p>... I love to learn new stuff in general. I think I can be defined as a hedonist, I like to spend time in the nature as much as I like to spend time in bars with friends. I listen to a lot of music (here is my Soundcloud) and I do sports like yoga, contemporary dance, hiking. I travel quite a bit.</p>
      <p>I speak 🇫🇷, 🇬🇧, 🇪🇸, 🇧🇷 and am learning 🇩🇪</p>
      <p>CV</p>
    </div>
  </div>
</div>
