<div class="main-page">
  <div class="left-box">
    <H1>ASTRID</H1>
    <H1>CHAZAUX</H1>
    <H2>Full-Stack Developer</H2>
  </div>
  <div class="right-box">
    <div class="navbar">
      <ul class="hoverable">
        <li><a href="#">MY WORK |</a></li>
        <li><a href="#">ABOUT ME</a></li>
      </ul>
<a href="https://github.com/AstrouCh/otroser"><i class="fab fa-github"></i></a>
    </div>
    <div class="project-container">
      <%= image_tag "IMG_1185.JPG", alt: "Astrid Chazaux's photo", class:"astrid-photo" %>
    </div>
    <div class="project-container">
        <p>otroser.es otroser.es otroser.es otroser.es otroser.es otroser.es otroser.es otroser.es otroser.es otroser.es otroser.es otroser.es otroser.es otroser.es otroser.es otroser.es otroser.es otroser.es <p>
    </div>
  </div>
</div>
