<div class="main-page">
  <div class="left-box">
    <H1>ASTRID</H1>
    <H1>CHAZAUX</H1>
    <H2>Full-Stack Developer</H2>
  </div>
  <div class="right-box">
    <div class="navbar">
      <ul>
        <li><a href="#">MY WORK |</a> </li>
        <li><a href="#">ABOUT ME</a> </li>
      </ul>
    </div>
    <div class="project-container">
        <p>weekend.ink<P>
          <%= video_tag "weekend.mov", autoplay: :autoplay, loop: :loop, muted: :muted, class: "website_video" %>
      <div class="website-links">
        <a href="#"><i class="fa-solid fa-globe"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
      </div>
    </div>
    <div class="project-container">
        <p>otroser.es<P>
          <%= video_tag "Otroser.mov", autoplay: :autoplay, loop: :loop, muted: :muted, class: "website_video" %>
    </div>

  </div>
</div>
