<div class="main-page">
  <div class="left-box">
  <a href=>
    <h1>ASTRID</h1>
    <h1>CHAZAUX</h1>
    <h2>Full-Stack Developer</h2>
  </a>
    <button class="reach-button hoverable" data-controller="contact-form-popup">Contact me!</button>
  </div>
  <div class="right-box home">
  <div class="home-intro">
    <H1>Hi, and welcome to my portfollio.</H1>
    <h2>What do you wanna do?</h2>
  </div>
    <div class="home-button">
      <ul class="hoverable home-button">
        <li><%= link_to "DISCOVER MY WORK", myprojects_path %></li>
        <li><%= link_to "LEARN MORE ABOUT ME", about_path %></li>
      </ul>
    </div>
