<div class="navbar">
  <ul>
    <li><a href="#">MY WORK |</a> </li>
    <li><a href="#">ABOUT ME</a> </li>
  </ul>
</div>
<div class="main-page">
  <div class="left-box">
    <H1>ASTRID</H1>
    <H1>CHAZAUX</H1>
    <H2>Full-Stack Developer</H2>
  </div>
  <div class="right-box">
    <div class="project-container">
      <div class="inner">
        <p>weekend.ink<P>
          <img src="https://res.cloudinary.com/dz12yq9sa/image/upload/v1683802034/Screenshot_2023-05-09_at_19.07.26_bkgx7h.png" alt="">
          <%# <video width="320" height="240" autoplay loop muted>
            <source src="weekend.mov" type="video/mov" />
            Your browser does not support the video tag.
          </video> %>
      </div>
    </div>
  </div>
</div>
