// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Test gradient text

html {
  font-size: 12px;
}

body {
  background: rgb(237,219,249);
  background: linear-gradient(90deg, rgba(237,219,249,1) 0%, rgba(189,224,254,1) 100%);
  color: $gray;
}

a:hover {
  color: black;
}


.main-page {
  display: flex;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: $headers-font;

  li {
    display: inline;
    margin: 1rem;
  }

  a {
    text-decoration: none;
    color: $gray;
  }
}

.left-box {
  width: 20%;
  height: 100vh;
  text-align: center;
  padding: 1rem;
  position: sticky;
  top: 0;

  background-color: $gray;

  h1, h2 {
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: $pink;
  }

  h2 {
    font-size: 1rem;
  }
}

.reach-button {
  position: relative;
  top: 65%;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: $pink;
  color: $gray;
  font-size: 1rem;
}

.right-box {
  width: 80%;
}

.navbar {
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: $pink;
  background: linear-gradient(90deg, $pink 0%, $blue 100%);
}


.project-container {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  height: auto;
  margin-top: 5rem;
  border: $gray solid 4px;
  position: relative;

  .video-wrapper {
    width: 85%;
    margin-bottom: 2rem;
    margin-left: 2rem;
    // background-color: rgba(0,0,0,0.5);
  }

}

.website_video {
  width: 85%;
  margin-left: 2rem;
}

.project-container:before {
  content: "";
  width: 100%;
  height: 100%;
  top: -2em;
  right: -2em;
  border: 4px solid $gray;
  position: absolute;
  z-index: -1;
}

.website-links {
  margin-bottom: 3rem;
  margin-left: 2rem;
  z-index: 1;
}

.website-links a {
  color: $gray;
  text-decoration: none;
  font-size: 3rem;
  padding: 0px 1rem;
}

.video-wrapper {
  position: relative;
  display: inline-block;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 4rem;
  width: 92%;
  height: 100%;
  background-color: rgba(49, 49, 49, 0.95);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1vw;
  padding: 1vw;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
}


@media (max-width: 1400px) {
  .video-overlay-text {
    overflow: auto;
  }
}




.project-container:hover .video-overlay {
  opacity: 1;
}

.project-container:hover .video-overlay-text {
  opacity: 1;
}
